In [5]:
import pandas as pd

df = pd.read_parquet('metrology_data.parquet')

display(df.isna().sum())

display(df.head())

Run ID                0
Run Start Time        0
Run End Time          0
X_index               0
Y_index               0
X                     0
Y                     0
Point Index           0
Measurement       42140
dtype: int64

,Run ID,Run Start Time,Run End Time,X_index,Y_index,X,Y,Point Index,Measurement
0,03aa7486-bf62-5d59-b844-5f2d4a4528c4,2024-01-02 16:31:00,2024-01-02 16:43:35,1,23,-143.877551,-9.183673,3,NaN
1,03aa7486-bf62-5d59-b844-5f2d4a4528c4,2024-01-02 16:31:00,2024-01-02 16:43:35,1,29,-143.877551,27.551020,48,NaN
2,03aa7486-bf62-5d59-b844-5f2d4a4528c4,2024-01-02 16:31:00,2024-01-02 16:43:35,2,34,-137.755102,58.163265,43,NaN
3,03aa7486-bf62-5d59-b844-5f2d4a4528c4,2024-01-02 16:31:00,2024-01-02 16:43:35,3,14,-131.632653,-64.285714,20,NaN
4,03aa7486-bf62-5d59-b844-5f2d4a4528c4,2024-01-02 16:31:00,2024-01-02 16:43:35,5,39,-119.387755,88.775510,8,NaN

In [4]:
pd.read_parquet('train/metrology_data1.parquet')

,Run ID,Run Start Time,Run End Time,X_index,Y_index,X,Y,Point Index,Measurement
0,00862337-2cc0-5b34-b5e1-45588e935c39,2024-01-02 04:45:25,2024-01-02 04:58:00,1,23,-143.877551,-9.183673,3,10.006534
1,00862337-2cc0-5b34-b5e1-45588e935c39,2024-01-02 04:45:25,2024-01-02 04:58:00,1,29,-143.877551,27.551020,48,10.002181
2,00862337-2cc0-5b34-b5e1-45588e935c39,2024-01-02 04:45:25,2024-01-02 04:58:00,2,34,-137.755102,58.163265,43,10.031223
3,00862337-2cc0-5b34-b5e1-45588e935c39,2024-01-02 04:45:25,2024-01-02 04:58:00,3,14,-131.632653,-64.285714,20,10.055888
4,00862337-2cc0-5b34-b5e1-45588e935c39,2024-01-02 04:45:25,2024-01-02 04:58:00,5,39,-119.387755,88.775510,8,10.089505
...,...,...,...,...,...,...,...,...,...
12245,ff4adabc-9abc-54bd-a358-05e9a59cd16e,2024-01-02 05:55:45,2024-01-02 06:08:20,44,11,119.387755,-82.653061,5,10.187983
12246,ff4adabc-9abc-54bd-a358-05e9a59cd16e,2024-01-02 05:55:45,2024-01-02 06:08:20,44,39,119.387755,88.775510,22,10.337129
12247,ff4adabc-9abc-54bd-a358-05e9a59cd16e,2024-01-02 05:55:45,2024-01-02 06:08:20,46,26,131.632653,9.183673,46,10.345384
12248,ff4adabc-9abc-54bd-a358-05e9a59cd16e,2024-01-02 05:55:45,2024-01-02 06:08:20,48,21,143.877551,-21.428571,16,10.367565
12249,ff4adabc-9abc-54bd-a358-05e9a59cd16e,2024-01-02 05:55:45,2024-01-02 06:08:20,48,31,143.877551,39.795918,2,10.434146